body {
    font-family: 'PT Sans Narrow', sans-serif;
    color:#0A0F0D;
    font-size: 18px;
    padding: 40px;
    line-height: 1.5em;
    background-color: #ECF8F8;
}

#gamecontrol, #score {
    font-size: 20px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    line-height: 2em;
}

#actions {
    text-align: center ;
}

div #img-p{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    text-align: center;
}

h2{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    text-align: center;
}

#head2{
    font-style: italic;
    padding-top: 40px;
}

h3{
    font-size: 20px;
    font-weight: bolder;
}

button{
    font-family: 'PT Sans Narrow', sans-serif;
}

button:hover{
background-color: #0A0F0D;
color: #ECF8F8;
}

#startgame{
font-size: 25px;
background-color: #ECF8F8;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
border-radius: 15px;
width: 150px;
align-self: center;
}

#startgame:hover{
    background-color: #0A0F0D;
    color: #ECF8F8;
}

#quit{
    font-size: 25px;
    background-color: #ECF8F8;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 200px;
    align-self: center;  
}

#quit:hover{
    background-color: #0A0F0D;
    color: #ECF8F8;
}

#pass{
    font-size: 20px;
    background-color: #ECF8F8;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 100px;
    align-self: center;
}

#pass:hover{
    background-color: #0A0F0D;
    color: #ECF8F8;
}
#roll{
    font-size: 20px;
    background-color: #ECF8F8;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 140px;
    align-self: center;
}

#roll:hover{
    background-color: #0A0F0D;
    color: #ECF8F8;
}

#rollagain{
    font-size: 20px;
    background-color: #ECF8F8;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 130px;
    align-self: center;
}

#rollagain:hover{
    background-color: #0A0F0D;
    color: #ECF8F8;
}

#gamerules{
    font-size: 20px;
    background-color: #ECF8F8;
    border-radius: 15px;
}

#gamerules:hover{
    background-color: #0A0F0D;
    color: #ECF8F8;
}

#game{
    height: auto;
    width: 310px;
}


/*overlay*/

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay article {
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 20px;
    padding: 50px;
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
}